body{
	margin: 0px;
	display: 0px;
	bac
}
.container{
	margin: auto;
	width: 900px;
	height: 650px;
	border-radius: 20px 20px 0px 0px;
}
header{
	border: 1px solid gray;
	width: 900px;
	height: 120px;
	background-color: gray;
	padding: auto;
	margin:auto;
	border-radius: 20px 20px 0px 0px;
	background: url(img/pro.jpg);
	background-size: contain;
}
#n1{
	border:1px solid #165820;
	width: 900px;
	height: 60px;
	background-color: #233726;
	margin: auto;
	border-radius: 0px 0px 20px 20px;
}
li{
	list-style-type: none;
	float: left;
	padding: 00px 70px;
	margin-bottom: 2px;
}
.ar1{
	position: relative;
	float: left;
	background: yellow;
	border: 1px solid yellow;
	width: 500px;
	height: 150px;
	border-radius: 20px 20px 0px 0px;
	text-align: justify;
	border-left: 10px;
	margin-bottom: 5px;
	top: 10px;
}
.h1{
	border-radius:  20px  20px 0 20px ;
	margin-top: -28px;
	float: right;
}
h1{
	margin-top: -5px;
	text-align: center;
}
.lo2{
	position: relative;
	top: -15px;
	text-align: center;
}
.ar2{
	position: relative;
	float: left;
	background: yellow;
	border: 1px solid yellow;
	width: 500px;
	height: 150px;
	border-radius: 0px 0px 20px 20px;
	text-align: justify;
	border-left: 10px;
	margin-bottom: 5px;
	top: 15px;
}
.h2{
	border-radius:  20px  20px 0 20px ;
	margin-top: -42px;
	float: right;
}
.lo1 {
	position: relative;
	top: -15px;
	text-align: center;

}
.ar3{
	position: relative;
	float: right;
	background: #233726;
	border: 1px #233726;
	width: 300px;
	height: 300px;
	border-radius: 20px 20px 20px 20px;
	text-align: justify;
	border-left: 10px;
	margin-bottom: 5px;
	top: -145px;
	display: block;
	color: white;
}
#sc{
	margin: 0px;
	border-style: inset;
	border-radius: 5px;
	border-color: #233726;
	text-align: center;
	background-color: black;
	width: 294px;
	height: 50px;

}



.inputs{
	border-radius:7px;
	padding: 4px 23px;
}
.centro{
	text-align: center;
	margin:  270px;
}
.linea{
		position: relative;
		margin: 270px;
		top: -270px;
		text-align: center;
}
.correo{
	position: relative;
	margin: 270px;
	top: -540px;
		text-align: center;
}

.botonp{
	padding: 1px;
	border-radius:7px;
	margin: 10px 20%;
	text-align: center;
	top: 10px;
}
.foot{
	position: relative;
	width: 900px;
	height: 80px;
	clear: left;
	top: 40px;
	border-radius: 0px 0px 20px 20px;
	background-color: #233726;


}

.foot p{
	text-align: center;

}
